%# "Nuclear war can ruin your whole compile."
%# 		-- Karl Lehenbauer

<& /Edit/Elements/104Header,
    Buttons => [
	Add => $m->scomp('/Edit/Elements/NewWindow', "Add.html?Queue=$Queue&Begin=$Begin", 600, 365),
	Save => '',
	Delete => 1,
	Copy => '',
	Search => '',
    ],
&>

<input type="hidden" name="Group" value="<% $Group %>">
<input type="hidden" name="Begin" value="<% $Begin %>">
<input type="hidden" name="Queue" value="<% $Queue %>">

% if ($Queue) { $m->print($m->content) } else {
<table width="97%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td><& /Edit/Elements/Tab, Text => 'Global' &></td>
  </tr>
  <tr> 
    <td valign="top"> 
      <table border="0" cellspacing="0" cellpadding="4" class="poptable" width="100%">
        <tr> 
          <td valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="tableEmboss">
                  <table width="100%" border="0" cellspacing="0" cellpadding="4">
                    <tr> 
                      <td bgcolor="#A3DEF1"> 
                        <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
                          <tr> 
			    <td><& /Edit/Elements/Tabs, Map => $ARGS{Map}, URL => '../GroupRight/' &></td>
                          </tr>
% }
                          <tr> 
                            <td class="poptable" bgcolor="#C4E1F0"> 
                              <table width="100%" border="0" cellspacing="4" cellpadding="0" >
                                <tr> 
                                  <td  valign="top" > 
                                    <table width="100%" border="0" cellspacing="3" cellpadding="0">
                                      <tr> 
                                        <td height=60 valign=top class="tableEmboss"> 
					  <& Top, Item => $Item, List => $List, Queue => $Queue &>
                                        </td>
                                      </tr>
                                      <tr> 
                                        <td align="center"  valign=top> 
					  <& List, Delete => sub { $_[0]->Domain eq 'UserDefined' }, List => $List, Begin => $Begin, Item => $Item, ARGS => \%ARGS &>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%INIT>
my $List = [];
my $OffList = [];
my $Object = $RT::System;

if ($Queue) {
    $Object = RT::Queue->new($session{'CurrentUser'});
    $Object->Load($Queue) || Abort(loc("Couldn't load queue [_1]",$Queue));
}

my $Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToUserDefinedGroups();

my %ToDelete = map { $_ => 1 } @ListDelete;
while (my $GroupObj = $Groups->Next()) {
    next if $GroupObj->Description < 0;
    my $ACLObj = RT::ACL->new($session{'CurrentUser'});
    $ACLObj->LimitToObject( $Object );
    $ACLObj->LimitToPrincipal( Id => $GroupObj->PrincipalId );

    if ($Action eq 'Delete' and $ToDelete{$GroupObj->Id}) {
	foreach my $ace (@{$ACLObj->ItemsArrayRef}) {
	    $ace->Delete;
	}
	push @$OffList, $GroupObj;
	$Group = 0;
    }
    elsif ($ACLObj->Count) {
	push @$List, $GroupObj;
    }
    else {
	push @$OffList, $GroupObj;
    }
}

$Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToSystemInternalGroups();
push @$List, @{$Groups->ItemsArrayRef};

$Groups = RT::Groups->new($session{'CurrentUser'});
$Groups->LimitToRolesForQueue($Queue);
push @$List, @{$Groups->ItemsArrayRef};

my $Item = $RT::Nothing;
if ($Group) {
    $Item = RT::Group->new($session{'CurrentUser'});
    $Item->Load( $Group );
}

$session{GroupRightList} = $List;
$session{GroupRightOffList} = $OffList;

</%INIT>
<%ARGS>
$Begin => 0
$Group => 0
$Queue => 0
$QueueObj => $RT::Nothing
$Action => ''
@ListDelete => ()
</%ARGS>
